# server (JS)
server/node_modules/
server/state.json

# server (Go)
server-go/server-go
server-go/identity.key

# web
web/node_modules/
web/dist/
web/dist-extension/

# editor / os
.DS_Store
.vscode/
.idea/

# logs
*.log
